{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('assets/img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            {% if app.request.get('_route') == 'task_list' %}
                <a href="{{ path('task_list_done') }}" class="btn btn-secondary">Consulter la liste des tâches terminées</a>
            {% else %}
                <a href="{{ path('task_list') }}" class="btn btn-secondary">Consulter la liste des tâches à faire</a>
            {% endif %}

            <a href="{{ path('task_create') }}" class="btn btn-info float-end">Créer une tâche</a>
        </div>
        {% for task in tasks %}
        <div class="col-sm-4 mb-3 col-lg-4 col-md-4 ">
            <div class="card h-100">
                <div class="card-body">
                    <div class="card-title d-flex justify-content-between">
                        <h4><a href="{{ path('task_edit', {'id' : task.id }) }}" class="text-decoration-none">{{ task.title }}</a></h4>
                        <h4 class="text-end">
                            {% if task.isDone %}<i class="bi bi-check"></i>{% else %}<i class="bi bi-x"></i>{% endif %}
                        </h4>
                    </div>
                    <p class="card-subtitle mb-2 text-muted">
                        créée le {{ task.createdAt|date("d/m/Y \\à\\ H:i") }} par
                        {% if task.author is not null %}
                            {{ task.author.username }}
                        {% else %}
                            {{ "anonyme" }}
                        {% endif %}
                    </p>
                    <p class="card-text">{{ task.content }}</p>
                </div>

            <div class="card-footer d-flex justify-content-end">
                {% if is_granted('TASK_DELETE', task)  %}
                    <a href="" class="btn btn-danger btn-sm pull-right" data-bs-toggle="modal" data-bs-target="#modalDeleteTask{{ task.id }}">Supprimer</a>

                    <div class="modal fade" id="modalDeleteTask{{task.id}}" tabindex="-1" role="dialog" aria-labelledby="confirmDelete" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmDelete">Supprimer {{ task.title }} ?</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body text-start">
                                    <span><i class="bi bi-exclamation-triangle"></i></span> Cette action est irréversible.
                                </div>
                                <div class="modal-footer">
                                    <form method="POST" action="{{ path('task_delete', {'id' : task.id }) }}">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete-' ~ task.id) }}">
                                        <button type="submit" class="btn btn-danger">Supprimer</button>
                                    </form>

                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                </div>
                            </div>
                        </div>
                    </div>


                {% endif %}
                <form method="POST" action="{{ path('task_toggle', {'id' : task.id }) }}">
                    <button class="btn btn-success btn-sm pull-right">
                        {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                    </button>
                </form>
            </div>
            </div>
        </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Il n'y a pas encore de tâche enregistrée. <a href="{{ path('task_create') }}" class="btn btn-warning pull-right">Créer une tâche</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
